body{
    background-color:#68CDD5;
    margin:0;padding:0;
}

.head{
    margin-top:3%;

}
.img{margin-left: 5.5%;}
.logo{
    width: 70%;
    margin:5% auto;
    text-align: center;

}
.text {
    margin:10% auto 0 auto;
    width: 70%;
}

.footer{
    width: 70%;
    margin: 15%;
    text-align: center;
}
